{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}प्रिंसिपल कंपनी{{ endblock }}
{{ block content }}

    <p>
        यदि प्रिंसिपल कंपनी आपकी कंपनी के कार्य से नाखुश है तो निम्नलिखित में से कौन सा परिणाम हो सकता है? यह भविष्य की संभावनाओं के बारे में है, इसलिए यदि ये परिणाम पहले नहीं आए हैं यह ठीक है। यदि आप निश्चित नहीं हैं तो चिंता न करें, कृपया अपना सर्वश्रेष्ठ अनुमान लगाएं। प्रत्येक परिणाम के लिए, हाँ/नहीं चुनें।
    </p>

    {{formfields}}

    {{next_button}}
    
{{ endblock }}


