{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}प्रिंसिपल कंपनी{{ endblock }}
{{ block content }}

    <p>
        इसके बाद, हम आपकी कंपनी के प्रिंसिपल कंपनी के साथ संबंधों के बारे में कुछ प्रश्न पूछने जा रहे हैं।प्रत्येक प्रश्न के लिए, कृपया कोई एक विकल्प चुनें जो यह दर्शाता हो कि आप दिए गए विवरण से कितना सहमत या असहमत हैं। इनमे कोई सही या गलत उत्तर नहीं हैं; कृपया हमें बताएं कि आप क्या सोचते हैं। आप संभवतः कुछ वाक्यों से सहमत होंगे और कुछ से असहमत होंगे। यह सारी जानकारी गोपनीय रखी जाएगी.
    </p>

    {{formfields}}

    {{next_button}}
    
{{ endblock }}


