{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}श्रमिक{{ endblock }}
{{ block content }}

    <p>
        इसके बाद, यहां आपके श्रमिकों के बारे में आपके विचारों के बारे में कुछ कथन दिए गए हैं। निम्नलिखित प्रश्नों के लिए, कृपया वाक्य के साथ अपनी सहमति दर्शाएं। यदि आप अनिश्चित हैं तो बेझिझक स्पष्टीकरण मांगें। कोई सही या गलत उत्तर नहीं हैं; कृपया हमें बताएं कि आप क्या सोचते हैं। आप संभवतः कुछ वाक्यों से सहमत होंगे और कुछ से असहमत होंगे। यह सारी जानकारी गोपनीय रखी जाएगी|
    </p>

    {{ formfields }}

    {{ next_button }}

{{ endblock }}


