{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}Consent{{ endblock }}
{{ block content }}

<p>
    Thank you for participating in the Social Compact Assessment. This survey will help us to understand your opinions
    about your workers and the operations of your factory. In addition, this data may be used for academic research on
    the Social Compact program and its impact. All of this information is anonymous - your name, your site, and any
    other identifying information will not be shared with company management. Please relax and tell us how you feel.
    There are no correct answers. </p>

{{ formfields }}

{{ next_button }}

{{ endblock }}