{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}Principal Company{{ endblock }}
{{ block content }}

    <p>
        Which of the following outcomes could occur if the principal company is displeased with your company's performance? This is about future possibilities, so it is okay if these outcomes have not occured before. Do not worry if you are not sure, please take your best guess. For each outcome, select Yes/No.
    </p>

    {{formfields}}

    {{next_button}}
    
{{ endblock }}


