{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}Worker{{ endblock }}
{{ block content }}

    <p>
        Next are some statements about your opinions of your workers. For the following questions, please indicate your agreement with the statement. Feel free to ask for clarification if you get confused. There are no correct answers; please just tell us what you think. You will probably agree with some statements and disagree with others.  All this information is kept confidential.
    </p>

    {{ formfields }}

    {{ next_button }}

{{ endblock }}


